.progress {
  appearance: none;
  height: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  background-color: var(--data-color-medium-dark);
  color: var(--data-color-medium-light);
  transition: all 0.25s;

}

