.wrapper {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;

  &.light {
    background-color: white;
  }
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  direction: rtl;
  gap: 15px;
}
