.searchForm {
  display: flex;
  align-items: center;
}

.searchInput {
  height: 1.8rem;
  padding: 5px;
  font-size: 1.2em;
  color: var(--data-color-light);
  background-color: var(--data-color-medium-dark);

  &.light {
    color: var(--data-color-dark);
    background-color: var(--data-color-medium-light);
  }
}
