:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --data-color-light: #f8f8ff;
  --data-color-medium-light: #d9d9f9;
  --data-color-medium-dark: rgb(70, 70, 70);
  --data-color-dark: #242424;
  --data-color-accent: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  flex-direction: column;
  padding: 1rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
}
